<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Light&Dark Studio" %></title>
    <%= stylesheet_link_tag "layout1" %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-theme" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "site" %>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  </head>

  <body>
   <div class="menu-container">
    <div class="row">
     <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 ">
       <a class="menu-elements" href="/views/skills.html"><%= I18n.t(:skills) %></a>
     </div>
     <div class="col-sm-12 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 col-xl-2 col-xl-offset-1">
       <a class="menu-elements" href="/views/works.html"><%= I18n.t(:works) %></a>
     </div>
     <div class="home-button col-sm-12 col-md-2 col-lg-2 col-xl-2">
       <a class="menu-elements-home" href="/index.html">H O M E</a>
     </div>
     <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
       <a href="../index.html"><img id="menu-logo" src="../images/lightdark-menu.svg"></a>
     </div>
     <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
       <a class="menu-elements2" href="/views/about.html"><%= I18n.t(:about) %></a>
     </div>
     <div class="col-sm-12 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 col-xl-2 col-xl-offset-1">
       <a class="menu-elements2" href="/views/contact.html"><%= I18n.t(:contact) %></a>
     </div>
    </div>
   </div>
    <%= yield %>
    <div class="footer">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <p class="footer-text-titles">LIGHTDARK STUDIO©</p>
          <p class="footer-text">
          <a class="footer-link" href="/files/privacy.pdf"><%= I18n.t(:policy) %></a><br>
          <a class="footer-link" href="/views/jobs.html"><%= I18n.t(:wwu) %></a></p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <p class="footer-text-titles">–</p>
          <p class="footer-text">
          <a class="footer-link" href="/views/skills.html"><%= I18n.t(:f_skills) %></a><br><a class="footer-link" href="/views/works.html"><%= I18n.t(:f_works) %></a><br>
          <a class="footer-link" href="/views/about.html"><%= I18n.t(:f_about) %></a><br>
          <a class="footer-link" href="/views/contact.html"><%= I18n.t(:f_contact) %></a></p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <p class="footer-text-titles">SOCIAL</p>
          <p class="footer-text">
          <a class="footer-link" href="https://www.behance.net/lightdark">Behance</a><br>
          <a class="footer-link" href="https://www.instagram.com/lightdarkstudio/">Instagram</a><br>
          <a class="footer-link" href="https://dribbble.com/rogerbriz">Dribbble</a><br>
          <a class="footer-link" href="https://www.facebook.com/lightdarkstudio">Facebook</a>
        </p>
        </div>
      </div>
    </div>
  </body>
</html>
